{% extends "admin/base.html" %}

{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('HT Cân Điện Tử') }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:home' %}">{{ site_header|default:_('HT Cân Điện Tử') }}</a></h1>
{% if user.is_anonymous %}
{% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block userlinks %}
{{ block.super }}
    <a href="can-stats/">{% translate 'Chart' %}</a>
{% endblock %}