{% extends 'admin/base_site.html' %}

{% block content %}
<style>
    .chart-container {
        width: 1300px;
        margin: 20px auto 5px;
    }
</style>

<div>
    <label for="stat-type" style="font-size: 20px;">Chọn kiểu thống kê:</label>
    <select id="stat-type" style="font-size: 16px; width: 25 0px; padding: 8px; height:50px">
        <option value="phieucan_count">Số lượng phiếu cân theo từng cân</option>
        <option value="other_stat">Thống kê số phiếu cân theo tháng</option>
        <option value="other_stat">Thống kê số phiếu cân theo năm</option>
    </select>
</div>

<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [];
    let values = [];

    {% for c in stats %}
    values.push({{ c.phieucan_count }})
    labels.push('{{ c.TenCan }}')
    {% endfor %}

    window.onload = () => {
        const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Số lượng',
            data: values,
            borderWidth: 1,
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
            ]
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
</script>
{% endblock %}